<!DOCTYPE html>
<html>
<head>
	<title>EMAIL LAYOUT</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="date=no" />
	<meta name="format-detection" content="address=no" />
	<meta name="format-detection" content="email=no" />
	<style type="text/css">
		* { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; margin:0; padding:0; }
		body { -webkit-font-smoothing: antialiased; -webkit-text-size-adjust:none; height: 100%; background-color: white; }
		.link a { text-decoration: none!important; color: #377BB5!important; }
	</style>
</head>
<body style="margin:0;padding:0">
	<div style="background-color:#3F4450;padding:20px;font-family:Arial;font-size:14px;margin:0">
		<table align="center" style="margin:0 auto;max-width:600px;font-size:14px;width:100%">
			<tr>
				<td>
					<div style="margin:10px 0 30px;text-align:center">
						<a href="@{global.config.url}"><img style="width:200px" src="@{global.config.url}/img/logo_for_email.gif" alt="@{config.name}" border="0" /></a>
					</div>
					<div style="margin-bottom:15px;padding:30px;background-color: #af5da4;border-radius:4px;color:white;font-weight:bold;font-size: 12px;line-height:18px;text-align: center;">
						<p>Want Ivan Chai for free? Take part in our <a href="https://www.ivansherbs.com/#monthly-giveaway" style="color: white">monthly giveaways</a>.</p>
					</div>
					<div style="padding:30px;background-color:white;border-radius:4px;color:#3F4450;line-height:18px">
						@{body}
					</div>
					<div style="margin:30px 0;text-align:center">
						<a style="margin:0 20px;" href="https://www.facebook.com/ivansherbs/"><img style="width:24px" src="@{global.config.url}/img/fa-facebook.png" alt="@{config.name} on Facebook" border="0" /></a>
						<a style="margin:0 20px;" href="https://www.instagram.com/ivansherbs"><img style="width:24px" src="@{global.config.url}/img/fa-instagram.png" alt="@{config.name} on Instagram" border="0" /></a>
						<a style="margin:0 20px;" href="https://www.pinterest.ch/ivansherbs"><img style="width:24px" src="@{global.config.url}/img/fa-pinterest.png" alt="@{config.name} on Pinterest" border="0" /></a>
						<div style="text-align:center;font-size:12px;margin:15px 0 0;color:white">
							<span style="font-weight:bold">We love real mail. Our mailing address is:</span><br>
							Ivan's Herbs<br>
							Vaartstraat 8-1<br>
							Amsterdam 1075RN<br>
							Netherlands
						</div>
						<div style="text-align:center;font-size:12px;margin:15px 0 0;color:gray">Copyright © 2019 Ivan's Herbs, All rights reserved.</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
