@{layout('~mails/layout')}

<div style="font-size:20px"><b>@{model.firstname}, @(your Siberian herbs are coming.)</b></div>
<br />
<div style="margin-top:15px">@(They were collected by hand in wild fields by a local, in the heat of a Siberian's summer day. Their preparation process was overseen by a tea and herb technologist with at least 8 years of experience.)</div>
<div style="margin-top:15px">@(They made the long journey to Moscow to get packaged safely and beautifully for you. We kept it safe in our care in Amsterdam, waiting until you were ready for them.)</div>
<div style="margin-top:15px">@(Soon you will have a small portion of the pristine Siberian wilderness brewing in your cup. Take the time to enjoy the taste (and benefits) that took so long to get to you.)</div>
<div style="margin-top:15px;margin-bottom:5px;line-height:18px">
    <img src="https://www.ivansherbs.com/images/email/orders/shipped.jpg"/>
</div>
